/* Start Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Google Fonts  Poppins*/

/* Start Global Section */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul li{
    padding: 0;
    margin: 0;
}
/* End Global Section */

/* Start Header Section */
header{
    padding: 30px 0px;
}
.navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .show>.nav-link {
    color: #242f51;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: #242f51;
    font-weight: 500;
    padding: 0 20px;
}
.free-btn{
        background: #2500f9;
        color: #fff!important;
        padding: 12px 25px;
        border-radius: 25px;
        font-weight: 600;
        margin-left: 30px;
        transition: .5s ease-in-out;
}
.free-btn:hover{
    background: #4c2efb;
}
/* End Header Section */

/* Start Header Body */
.header-body{
    background: url(../img/header-bg.png) top center no-repeat;
    background-size: cover;
    padding: 250px 0px;
}
.header-body h1{
    font-size: 45px;
    font-weight: 600;
    color: #242f51;
}
.header-body p{
    font-size: 16px;
    padding: 0px 28px 0 0;
    line-height: 25px;
    margin: 20px 0 40px;
    color: #616368;
}
.header-body-btn{
    background: #2500f9;
    color: #fff!important;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition: .5s ease-in-out;
}
.header-body-btn:hover{
    background: #4c2efb;
}
.header-body .fancy-link{
    padding-left: 30px;
    color: #2500f9;
    font-weight: 500;
}
/* End Header Body */

/* Start Trusted Section */
.trusted{
    padding: 75px 0 100px;
}
.trusted p{
    text-align: center;
    margin-bottom: 45px;
    color: #727788;
}
/* End Trusted Section */

/* Start Feature Section */
.feature{
    padding: 75px 0px;
}
.feature h2{
     font-size: 40px;
     font-weight: 500;
     color: #242f51;
     line-height: 55px;
     margin-top: 30px;
}
.feature p{
    font-size: 16px;
    color: #616368;
    line-height: 30px;
    margin: 20px 0 50px;
}
ul li{
    list-style: none;
}
ol, ul {
    padding-left: 0rem;
}
.feature-item{
    margin-top: 70px;
}
.feature-item .feature-tex{
    display: inline;
}
.feature-item .feature-text h5{
    color: #f55767;
    font-size: 20px;
    cursor: pointer;
}
.feature-item .feature-text p{
    padding-right:  100px;
    font-size: 15px;
    margin: 15px 0 40px;
}
.feature-item .pro{
    color: #2563ff!important;
}
.feature-item .vec{
    color: #62a679!important;
}
/* End Feature Section */

/* Start Jackpot Section */
.jackpot{
    padding: 75px 0px;
}
.jackpot h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
    padding: 0 80px 0 0;
    border-right: 2px solid #b9b9b8;
}
.jackpot p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 30px 57px 0 20px;
}
.jackpot .jackpot-item{
    margin-top: 125px;
}
.jackpot-item h5{
    color: #f55767;
    margin: 30px 0 10px;
    font-size: 20px;
    cursor: pointer;
}
.jackpot-item p{
    padding: 0 50px 0 0;
    color: #616368;
}
.jackpot-item .net{
    color: #2563ff!important;
}
.jackpot-item .big{
    color: #62a679!important;
}
/* End Jackpot Section */

/* Start Design Section */
.design{
    padding: 75px 0px;
}
.design h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
    padding: 0 80px 0 25px;
    margin-top: 60px;
}
.design p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0 60px 0 30px;
    margin: 20px 0 40px;
}
.design .design-btn{
    background: #2500f9;
    color: #fff!important;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    margin: 60px 0 0 30px;
    transition: .5s ease-in-out;
}
.design .design-btn:hover{
    background: #4c2efb;
}
/* End Design Section */

/* Start Choose Section */
.choose{
    padding: 75px 0px;
}
.choose h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
    padding: 0 285px;
    text-align: center;
}
.choose p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0 245px;
    margin: 20px 0 70px;
    text-align: center;
}
.choose img{
    display: block;
    margin: 0 auto;
}
.choose h6{
    color: #242f51;
    font-weight: 600;
    margin: 25px 0 10px;
    text-align: center;
}
.choose .item-para{
    padding: 0 50px;
    margin: 0 0 50px 0;
    font-size: 14px;
    line-height: 25px;
}
/* End Choose Section */

/* Start Ultimate Section */
.ultimate{
    padding: 75px 0px;
}
.ultimate h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
    padding: 0 130px 0 0;
}
.ultimate p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0 105px 0 0;
    margin: 20px 0 50px;
}
.ultimate .ultimate-item h6{
    color: #242f51;
    font-weight: 600;
    margin: 25px 0 10px;
}
.ultimate .ultimate-item p{
    padding: 0 0 50px 0;
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}
.ultimate .ultimate-btn{
    background: #2500f9;
    color: #fff!important;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    transition: .5s ease-in-out;
}
.ultimate .ultimate-btn:hover{
    background: #4c2efb;
}
/* End Ultimate Section */

/* Start Get Section */
.get{
    padding: 75px 0px;
}
.get h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
    padding: 0 240px;
    text-align: center;
}
.get p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0 245px;
    margin: 20px 0 70px;
    text-align: center;
}
.get-btn-group{
    text-align: center;
    margin-bottom: 70px;
}
.get-btn{
    background: #2500f9;
    color: #fff!important;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    margin-right: 10px;
    transition: .5s ease-in-out;
}
.get-btn:hover{
    background: #fff;
    color: #616368!important;
    border: 1px solid #616368;
}
.outside-btn{
    background: #fff;
    color: #616368!important;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    border: 1px solid #616368;
    transition: .5s ease-in-out;
}
.outside-btn:hover{
    background: #2500f9;
    color: #fff!important;
}
.whole-card{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    transition: .5s ease-in-out;
}
.whole-card:hover{
    box-shadow: 5px 10px 0px #eef1f3;
}
.whole-card .card-head{
    background: #f4f7f9;
    padding: 50px 20px 30px;
}
.whole-card .card-head h3{
    text-align: center;
    color: #242f51;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-head h3 span{
    font-size: 12px;
    color: #616368;
}
.whole-card .card-head h4{
    text-align: center;
    color: #242f51;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.whole-card .card-head p{
    padding: 0;
    margin: 0;
}
.whole-card .card-body ul li{
    text-align: center;
    line-height: 50px;
    color: #999ca5;
}
.card-body .card-btn{
    display: block;
    width: 205px;
    margin: 0 auto;
    text-align: center;
    background: #2500f9;
    color: #fff!important;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: 600;
    transition: .5s ease-in-out;
}
/* End Get Section */

/* Start Testimonial Section */
.testimonial{
    padding: 75px 0;
}
.mt-5 {
    margin-top: 6rem!important;
}
.testimonial h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 55px;
}
.testimonial p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0;
    margin: 20px 0 30px;
}
.testimonial h5{
    font-weight: 600;
    color: #242f51;
    margin-top: 30px;
}
.testimonial h6{
    color: #242f51;
    font-weight: 500;
    margin: 22px 0 0 0;
}
.testimonial .client-text{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
/* End Testimonial Section */

/* Start Question Section */
.question{
    padding: 75px 0;
}
.question h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    padding: 0;
    text-align: center;
}
.question p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0 245px;
    margin: 20px 0 70px;
    text-align: center;
}
.question .extra-sec{
    background: #f5f7fa;
    padding: 40px 100px 20px 50px;
}
.question h6{
    color: #242f51;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}
.extra-sec .extra-pra{
    padding: 0;
    text-align: left;
    margin: 0;
}
.list-items ul li{
    padding: 15px 50px 15px;
    background: #f5f7fa;
    margin-top: 10px;
    color: #242f51;
    font-weight: 500;
}
.list-items .first{
    padding-left: 510px;
}
.list-items .second{
    padding-left: 610px;
}
.list-items .third{
    padding-left: 695px;
}
.list-items .fourth{
    padding-left: 670px;
}
/* End Question Section */

/* Start Download Section */
.download{
    padding: 75px 0 0;
}
.download h2{
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
}
.download p{
    font-size: 15px;
    color: #616368;
    line-height: 30px;
    padding: 0;
    margin: 20px 0 40px;
    text-align: left;
}
/* End Download Section */

/* Start Footer Section */
footer{
    background: url(../img/footer-bg.png) no-repeat top center;
    background-size: cover;
    padding: 100px 0 75px;
}
footer h2{
    color: #fcae61;
    text-align: center;
    font-weight: 600;
}
footer h2 span{
    color: #fff;
}
footer .footer-ul{
    text-align: center;
    padding: 30px 0 20px;
}
footer ul li{
    display: inline;
    text-align: center;
    color: #fff;
    padding: 0 8px;
    cursor: pointer
}
footer .social-ul{
    text-align: center;
}
footer .social-ul li{
    color: #273043;
    font-size: 25px;
    transition: .5s ease-in-out;
}
footer .social-ul li:hover{
    color: #fff;
}
footer .footer-pra{
    font-size: 14px;
    text-align: center;
    color: #545864;
    font-weight: 500;
    margin-top: 70px;
}
/* End Footer Section */


/* Start Media Quires For Tablet Device */
@media (min-width: 576px) and (max-width: 768px){
    .navbar-light .navbar-nav .nav-link {padding: 5px 0;}
    .free-btn {margin-left: 0px;}
    .cube-btn{margin-top: 20px;}
    .header-body h1{font-size: 35px;padding-right: 100px;}
    .header-body p{font-size: 15px;padding: 0px 220px 0 0;}
    .header-body .fancy-link {padding-left: 10px;display: inline;margin: 0;}
    .trusted p {font-size: 15px;margin-bottom: 25px;}
    .trusted-logo{text-align: center;}
    .trusted-logo img{padding: 20px 0;}
    .feature h2 {text-align:center;font-size: 35px;line-height: 40px;}
    .feature p {font-size: 15px;line-height: 25px;text-align: center;padding: 0 100px;}
    .feature .img-div img{display:block;margin: 0 auto;}
    .feature-item .feature-text h5 {text-align: center;margin-top: 15px;}
    .feature-item .feature-text p {font-size: 15px;padding: 0 135px;}
    .jackpot {padding: 50px 0px;}
    .jackpot h2 {font-size: 35px;line-height: 40px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 22px 5px;}
    .jackpot p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .jackpot-item img{display: block;margin: 0 auto;}
    .jackpot-item h5 {text-align: center;}
    .design{padding: 50px 0;}
    .design h2 {text-align:center;font-size: 35px;line-height: 40px;}
    .design p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .design .design-btn {width: 142px;display: block;text-align: center;margin: 0 auto;font-size: 15px;}
    .choose {padding: 50px 0px;}
    .choose h2 {text-align:center;font-size: 35px;line-height: 40px;padding:0;}
    .choose p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .choose .item-para {font-size: 15px;padding: 0 135px;}
    .ultimate h2 {text-align:center;font-size: 35px;line-height: 40px;padding:0;}
    .ultimate p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .ultimate img{display: block;margin: 0 auto;}
    .ultimate .ultimate-item p {font-size: 15px;padding: 5px 135px 50px;}
    .ultimate .ultimate-item h6 {text-align: center;}
    .ultimate .ultimate-btn {width: 142px;display: block;text-align: center;margin: 0 auto 20px;font-size: 15px;}
    .get {padding: 50px 0px;}
    .get h2 {text-align:center;font-size: 35px;line-height: 40px;padding:0;}
    .get p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .whole-card {margin-bottom: 31px;}
    .testimonial h2 {text-align:center;font-size: 35px;line-height: 40px;padding-top:90px;}
    .testimonial p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .testimonial img{display: block;margin: 0 auto;}
    .testimonial h5 {text-align: center;}
    .testimonial h6 {text-align: center;}
    .question {padding: 50px 0;}
    .question h2 {text-align:center;font-size: 35px;line-height: 40px;padding-top:50px;}
    .question p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .list-items .first {padding-left: 107px;}
    .list-items .second {padding-left: 206px;}
    .list-items .third {padding-left: 289px;}
    .list-items .fourth {padding-left: 264px;}
    .download {padding: 50px 0 0;}
    .download h2 {text-align:center;font-size: 35px;line-height: 40px;padding-top:50px;}
    .download p {font-size: 15px;line-height: 25px;padding: 10px 135px;text-align: center;}
    .download img{margin-bottom: 15px;}
    .download .download-cycle{margin-bottom: 0px;}
}
/* End Media Quires For Tablet Device */


/* Start Media Quires For Mobile Device */
@media (min-width: 320px) and (max-width: 576px){
    .navbar-light .navbar-nav .nav-link {padding: 5px 0;}
    .free-btn {margin-left: 0px;}
    .cube-btn{margin-top: 20px;}
    /* .header-body{background-size: cover;} */
    .header-body h1{font-size: 30px;}
    .header-body p{font-size: 14px;padding: 0px 30px 0 0;}
    .header-body .fancy-link {padding-left: 0px;display: block;margin: 30px auto;}
    .trusted {padding: 50px 0;}
    .trusted p {font-size: 14px;margin-bottom: 25px;}
    .trusted-logo{text-align: center;}
    .trusted-logo img{padding: 20px 0;}
    .feature h2 {text-align:center;font-size: 28px;line-height: 33px;}
    .feature p {font-size: 14px;line-height: 25px;text-align: center;}
    .feature .img-div img{display:block;margin: 0 auto;}
    .feature-item .feature-text h5 {text-align: center;margin-top: 15px;}
    .feature-item .feature-text p {font-size: 14px;padding: 0 20px;}
    .jackpot {padding: 50px 0px;}
    .jackpot h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 22px 5px;}
    .jackpot p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .jackpot-item img{display: block;margin: 0 auto;}
    .jackpot-item h5 {text-align: center;}
    .design h2 {text-align:center;font-size: 28px;line-height: 33px;padding: 0;}
    .design p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align:center;}
    .design .design-btn {width: 142px;display: block;text-align: center;margin: 0 auto;font-size: 15px;}
    .choose {padding: 50px 0px;}
    .choose h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 22px 5px;}
    .choose p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .ultimate h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 22px 5px;}
    .ultimate p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .ultimate img{display: block;margin: 0 auto;}
    .ultimate .ultimate-item h6 {text-align: center;}
    .ultimate .ultimate-btn {width: 142px;display: block;text-align: center;margin: 0 auto 20px;font-size: 15px;}
    .get {padding: 50px 0px;}
    .get h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 22px 5px;}
    .get p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .whole-card {margin-bottom: 31px;}
    .testimonial h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 40px 5px 22px;}
    .testimonial p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .testimonial img{display: block;margin: 0 auto;}
    .testimonial h5 {text-align: center;}
    .testimonial h6 {text-align: center;}
    .question {padding: 50px 0;}
    .question h2 {font-size: 28px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 40px 5px;}
    .question p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center;}
    .question .extra-sec {padding: 25px;}
    .list-items ul li {font-size: 14px;padding:15px 25px;}
    .list-items .first {display:none;}
    .list-items .second {display:none;}
    .list-items .third {display:none;}
    .list-items .fourth {display:none;}
    .download {padding: 0px;}
    .download h2 {font-size: 27px;line-height: 33px;text-align:center;border-bottom: 2px solid #b9b9b8;border-right: 0;padding: 40px 5px;}
    .download p {font-size: 14px;line-height: 25px;padding: 10px 15px;text-align: center}
    .download img{margin-bottom: 15px;}
    .download .download-cycle{margin-bottom: 0px;}
    footer ul li {padding: 5px;}
    footer .footer-pra {padding: 0 30px;}
}
/* End Media Quires For Mobile Device */